@{
    ViewData["Title"] = "Cooking with POTS";
}

<div id="HomePage" class="text-center">
    <h1>Welcome to cooking with POTS!</h1>
    <p>Slow cookers are the best way to cook without standing for long periods of time by a stove. 
        Anyone with POTS (postural orthostatic tachycardia syndrome) knows this is the hardest part of cooking. 
        Browse our recipes to help you feed your family or add your own to help others!</p>
        <button class="btn btn-primary">Add Recipe</button>
</div>
<br />
<hr />
<br/>
<div id="RecipeOfTheDay"></div>
@section Scripts{
    <script src="~/js/Index.js"></script>
}